---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Forgot Password | National AI Technologies"
  pageId="6a56f7743d4c8a4daf3c5931"
  showNavbar={false}
  bodyAttrs={{"data-w-id": "6583dd0b5151edd7c68ea59c"}}
>
  <Fragment slot="head">
    <style is:inline>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="6583dd0b5151edd7c68ea59c"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="8cde8aae-009a-e5c5-574e-6ce56ad9e166"] {opacity:0;}}</style>
  </Fragment>
    <div class="authentication-navbar">
      <div class="container">
        <div class="authentication-navbar-wrap">
          <div class="section-circle bottom-left"></div>
          <div class="section-circle bottom-right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
    <section class="section authentication">
      <div class="container authentication">
        <div data-w-id="8cde8aae-009a-e5c5-574e-6ce56ad9e166" class="authentication-content">
          <div class="authentication-wrapper">
            <div class="authentication-typography">
              <a href="/" class="authentication-logo w-inline-block"><img src="/images/logo-header.png" width="48" height="48" loading="lazy" alt="National AI Technologies" class="authentication-logo-image"></a>
              <div class="authentication-title-description">
                <div class="authentication-title">Forgot Password</div>
                <div class="authentication-description">We’ll send instructions to reset your password.</div>
              </div>
            </div>
            <div class="authentication-form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="authentication-form" data-wf-page-id="6a56f7743d4c8a4daf3c5931" data-wf-element-id="8cde8aae-009a-e5c5-574e-6ce56ad9e173">
                <div class="authentication-form-wrapper">
                  <div class="authentication-form-single"><label for="Email" class="authentication-form-text-block">Email <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="name@example.com" type="email" id="Email" required=""></div>
                  <div data-w-id="92fb4738-8e25-04b1-1984-b8cc37b4844a" class="primary-button-wrapper"><input type="submit" data-wait="Please wait..." class="primary-button submit-button authentication w-button" value="Submit Now">
                    <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-shape">
                      <div class="primary-button-shape-bg"></div>
                    </div>
                  </div>
                </div>
                <div class="authentication-social-media-wrapper">
                  <div class="authentication-description">Remember Password? <a href="/authentication/sign-in" class="authentication-description-text-link">Sign In</a>
                  </div>
                </div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </section>
    <div class="blank-div-wrapper border-none">
      <div class="container">
        <div class="blank-div">
          <div class="section-circle left"></div>
          <div class="section-circle right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
</BaseLayout>
