---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Reset Password | National AI Technologies"
  pageId="6a56f7743d4c8a4daf3c5930"
  showNavbar={false}
  bodyAttrs={{"data-w-id": "6583dd05da6fd855afa369fa"}}
>
  <Fragment slot="head">
    <style is:inline>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="6583dd05da6fd855afa369fa"] {opacity:0;}}</style>
  </Fragment>
    <div class="authentication-navbar">
      <div class="container">
        <div class="authentication-navbar-wrap">
          <div class="section-circle bottom-left"></div>
          <div class="section-circle bottom-right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
    <section class="section authentication">
      <div class="container authentication">
        <div data-w-id="7124956b-5ccd-3a1c-2089-540c37092d1b" style="opacity:0" class="authentication-content">
          <div class="authentication-wrapper">
            <div class="authentication-typography">
              <a href="/" class="authentication-logo w-inline-block"><img src="/images/logo-header.png" width="48" height="48" loading="lazy" alt="National AI Technologies" class="authentication-logo-image"></a>
              <div class="authentication-title-description">
                <div class="authentication-title">Reset Password</div>
                <div class="authentication-description">Please enter the code that sent in your email then create new password.</div>
              </div>
            </div>
            <div class="authentication-form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="authentication-form" data-wf-page-id="6a56f7743d4c8a4daf3c5930" data-wf-element-id="7124956b-5ccd-3a1c-2089-540c37092d26">
                <div class="authentication-form-wrapper">
                  <div class="authentication-form-single"><label for="Code" class="authentication-form-text-block">Code <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Code" data-name="Code" placeholder="Ex. 123456" type="text" id="Code" required=""></div>
                  <div class="authentication-form-single"><label for="Password" class="authentication-form-text-block">password <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Password" data-name="Password" placeholder="************" type="password" id="Password" required=""></div>
                  <div class="authentication-form-single"><label for="Confirm-password" class="authentication-form-text-block">Confirm password <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Confirm-password" data-name="Confirm password" placeholder="************" type="password" id="Confirm-password" required=""></div>
                  <div data-w-id="aa765705-c24e-dca3-4c12-68f95f6b0b32" class="primary-button-wrapper"><input type="submit" data-wait="Please wait..." class="primary-button submit-button authentication w-button" value="Reset Now">
                    <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-shape">
                      <div class="primary-button-shape-bg"></div>
                    </div>
                  </div>
                </div>
                <div class="authentication-social-media-wrapper">
                  <div class="authentication-description">Haven’t received the code? <a href="#" class="authentication-description-text-link">Send Again</a>
                  </div>
                </div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </section>
    <div class="blank-div-wrapper border-none">
      <div class="container">
        <div class="blank-div">
          <div class="section-circle left"></div>
          <div class="section-circle right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
</BaseLayout>
