---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Sign Up | National AI Technologies"
  pageId="6a56f7743d4c8a4daf3c5932"
  showNavbar={false}
  bodyAttrs={{"data-w-id": "6583dd10bcc4b0a0f1769ae9"}}
>
  <Fragment slot="head">
    <style is:inline>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="6583dd10bcc4b0a0f1769ae9"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="5b2b135e-1d5f-4e40-b391-1ce3b6c3453e"] {opacity:0;}}</style>
  </Fragment>
    <div class="authentication-navbar">
      <div class="container">
        <div class="authentication-navbar-wrap">
          <div class="section-circle bottom-left"></div>
          <div class="section-circle bottom-right"></div>
        </div>
      </div>
    </div>
    <section class="section authentication">
      <div class="container authentication">
        <div data-w-id="5b2b135e-1d5f-4e40-b391-1ce3b6c3453e" class="authentication-content">
          <div class="authentication-wrapper">
            <div class="authentication-typography">
              <a href="/" class="authentication-logo w-inline-block"><img src="/images/logo-header.png" width="48" height="48" loading="lazy" alt="National AI Technologies" class="authentication-logo-image"></a>
              <div class="authentication-title-description">
                <div class="authentication-title">Create an Account</div>
                <div class="authentication-description">Already have an account? <a href="/authentication/sign-in" class="authentication-description-text-link">Sign In</a>
                </div>
              </div>
            </div>
            <div class="authentication-form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="authentication-form" data-wf-page-id="6a56f7743d4c8a4daf3c5932" data-wf-element-id="2af8f39a-3c28-acbd-9e4d-6cc5d9341ba8">
                <div class="authentication-form-wrapper">
                  <div class="authentication-form-single"><label for="name" class="authentication-form-text-block">Name <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter your name" type="text" id="name" required=""></div>
                  <div class="authentication-form-single"><label for="Email" class="authentication-form-text-block">Email <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="name@example.com" type="email" id="Email" required=""></div>
                  <div class="authentication-form-single"><label for="Password" class="authentication-form-text-block">Password <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Password" data-name="Password" placeholder="Enter your password" type="password" id="Password" required=""></div><label class="w-checkbox authentication-form-checkbox-wrap">
                    <div class="w-checkbox-input w-checkbox-input--inputType-custom authentication-form-checkbox"></div><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"><span class="authentication-form-checkbox-text w-form-label" for="checkbox">I agree with all <a href="#" class="authentication-form-checkbox-text-link">Terms &amp; Conditions</a></span>
                  </label>
                  <div data-w-id="3aa9213e-61e4-0662-fe85-443bf72643fd" class="primary-button-wrapper"><input type="submit" data-wait="Please wait..." class="primary-button submit-button authentication w-button" value="Create Account">
                    <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-shape">
                      <div class="primary-button-shape-bg"></div>
                    </div>
                  </div>
                </div>
                <div class="authentication-social-media-wrapper">
                  <div class="authentication-social-media-title-wrapper">
                    <div class="authentication-social-media-line"></div>
                    <div class="authentication-social-media-title">Or continue with</div>
                    <div class="authentication-social-media-line"></div>
                  </div>
                  <div class="authentication-social-media-single">
                    <a href="https://www.facebook.com/" target="_blank" class="authentication-social-media w-inline-block">
                      <div></div>
                    </a>
                    <a href="https://www.apple.com/" target="_blank" class="authentication-social-media w-inline-block">
                      <div></div>
                    </a>
                    <a href="https://google.com/" target="_blank" class="authentication-social-media w-inline-block">
                      <div></div>
                    </a>
                  </div>
                </div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </section>
    <div class="blank-div-wrapper border-none">
      <div class="container">
        <div class="blank-div">
          <div class="section-circle left"></div>
          <div class="section-circle right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
</BaseLayout>
