---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Sign In | National AI Technologies"
  pageId="6a56f7743d4c8a4daf3c592b"
  showNavbar={false}
  bodyAttrs={{"data-w-id": "6583dcddbcc4b0a0f1766f7b"}}
>
  <Fragment slot="head">
    <style is:inline>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="6583dcddbcc4b0a0f1766f7b"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="27406105-a872-e6e7-2532-7f00388b2b06"] {opacity:0;}}</style>
  </Fragment>
    <div class="authentication-navbar">
      <div class="container">
        <div class="authentication-navbar-wrap">
          <div class="section-circle bottom-left"></div>
          <div class="section-circle bottom-right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
    <section class="section authentication">
      <div class="container authentication">
        <div data-w-id="27406105-a872-e6e7-2532-7f00388b2b06" class="authentication-content">
          <div class="authentication-wrapper">
            <div class="authentication-typography">
              <a href="/" class="authentication-logo w-inline-block"><img src="/images/logo-header.png" width="48" height="48" loading="lazy" alt="National AI Technologies" class="authentication-logo-image"></a>
              <div class="authentication-title-description">
                <div class="authentication-title">Sign In</div>
                <div class="authentication-description">Not registered yet? <a href="/authentication/sign-up" class="authentication-description-text-link">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="authentication-form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="authentication-form" data-wf-page-id="6a56f7743d4c8a4daf3c592b" data-wf-element-id="27406105-a872-e6e7-2532-7f00388b2b13">
                <div class="authentication-form-wrapper">
                  <div class="authentication-form-single"><label for="Email" class="authentication-form-text-block">Email <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="name@example.com" type="email" id="Email" required=""></div>
                  <div class="authentication-form-single"><label for="Password" class="authentication-form-text-block">Password <span class="authentication-form-text-block-span">*</span></label><input class="authentication-form-text-field w-input" maxlength="256" name="Password" data-name="Password" placeholder="Enter your password" type="password" id="Password" required=""></div>
                  <div class="authentication-text-link-wrap">
                    <a href="/authentication/forgot-password" class="authentication-text-link">Forgot password?</a>
                  </div>
                  <div data-w-id="b1fd8369-db10-5427-23ca-0d0ada8bba8e" class="primary-button-wrapper"><input type="submit" data-wait="Please wait..." class="primary-button submit-button authentication w-button" value="Log in">
                    <div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="primary-button-shape">
                      <div class="primary-button-shape-bg"></div>
                    </div>
                  </div>
                </div>
                <div class="authentication-social-media-wrapper">
                  <div class="authentication-social-media-title-wrapper">
                    <div class="authentication-social-media-line"></div>
                    <div class="authentication-social-media-title">Or continue with</div>
                    <div class="authentication-social-media-line"></div>
                  </div>
                  <div class="authentication-social-media-single">
                    <a href="https://www.facebook.com/" target="_blank" class="authentication-social-media w-inline-block">
                      <div></div>
                    </a>
                    <a href="https://apple.com/" target="_blank" class="authentication-social-media w-inline-block">
                      <div></div>
                    </a>
                    <a href="https://google.com" target="_blank" class="authentication-social-media w-inline-block">
                      <div></div>
                    </a>
                  </div>
                </div>
              </form>
              <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </section>
    <div class="blank-div-wrapper border-none">
      <div class="container">
        <div class="blank-div">
          <div class="section-circle left"></div>
          <div class="section-circle right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
</BaseLayout>
