---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Page Not Found | National AI Technologies"
  pageId="6a56f7743d4c8a4daf3c5936"
  noindex
  bodyAttrs={{"data-w-id": "6583dd657fd209762807ecc5"}}
>
  <Fragment slot="head">
    <style is:inline>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="6583dd657fd209762807ecc5"] {opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="da95ab44-09dc-68a9-45a2-5a08af173913"] {opacity:0;}}</style>
  </Fragment>
    <section class="section not-found">
      <div class="container not-found">
        <div data-w-id="da95ab44-09dc-68a9-45a2-5a08af173913" class="not-found-content">
          <div class="not-found-image-wrapper"><img src="/images/Not-Found-Image.svg" loading="lazy" alt="Not Found Image" class="not-found-image"></div>
          <div class="not-found-typography">
            <div class="not-found-title-description">
              <h1 class="not-found-title">Page Not Found!</h1>
              <div class="not-found-description">Sorry the page you are looking for couldn’tbe found.</div>
            </div>
            <div class="not-found-button-wrapper">
              <div class="primary-button-wrapper">
                <a data-wf--primary-button--variant="base" data-w-id="06c54131-d595-78fe-1aa0-c86ac06425eb" href="/" class="primary-button w-inline-block">
                  <div class="primary-button-single in">
                    <div class="button-text">Go Back to Home</div><img src="/images/Primary-Button-Arrow.svg" loading="lazy" alt="arrow" class="button-arrow">
                  </div>
                  <div class="primary-button-single out">
                    <div class="button-text">Go Back to Home</div><img src="/images/Primary-Button-Arrow.svg" loading="lazy" alt="arrow" class="button-arrow">
                  </div>
                </a>
                <div class="primary-button-shape">
                  <div class="primary-button-shape-bg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </section>
    <div class="blank-div-wrapper border-none">
      <div class="container">
        <div class="blank-div">
          <div class="section-circle left"></div>
          <div class="section-circle right"></div>
        </div>
        <div class="section-line left"></div>
        <div class="section-line right"></div>
      </div>
    </div>
</BaseLayout>
